@import '../../assets/common/common.scss';
body{
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }  
.b_classify{
    display: flex;
    flex-direction:column;
    height: 100%;
    .swiper-container {
        font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
        width: 100%;
        height: 45px;
        padding-left:20px;
        -webkit-box-shadow: 1px 1px 5px rgba(7,0,2,.2);
        .swiper-slide {
            font-size: 16px;
            background: #fff;
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
            color:#333333;
        }
        .checked{
            border-bottom: 2px solid #523568;
            color:#523568;
        }
    }
    .b_products_list{
        // text-align: center;
        // overflow: hidden;
        flex:1;
        background: #F5F5F5;
        overflow-x:hidden; 
        .classify_show{
            text-align: left;
            overflow: hidden;
            background: #FAFAFA;
            padding-left: 15px;
            border-bottom: 1px solid #eee;
            ul{
                 li{
                    border-radius: 50px;
                    // background: $main-color;
                    float: left;
                    padding: 0 10px;
                    color: #000;
                    font-size: 14px;
                    margin: 8px 15px 8px 0;
                    height: 28px;
                    line-height: 28px;
                }
                .checked{
                     background: $main-color;
                     color:#fff;
                }
            }
        }
        .classify_title{
            height: 45px;
            position: relative;
            line-height: 45px;
            width: 100%;
            text-align: center; 
            >span{
                font-size: 16px;
                }
            .xian1{
                display: block;
                position: absolute;
                height: 2px;
                width: 20%;
                background:#D8D8D8;
                top: 50%;
                left: 0;
            }
            .xian2{
                display: block;
                position: absolute;
                height: 2px;
                width: 20%;
                background:#D8D8D8;
                top: 50%;
                right: 0;            
            }
        }
        .classify_content{
            width: 45.5%;
            background: #fff;
            margin-left: 3%;
            margin-top: 10px;
            min-height:146px;
            padding-bottom: 5px;
            float: left;
            .imgBox{
                min-height: 146px;
                >img{
                    width: 100%;
                    height: 100%;
                }
            } 
            .list_title{
                text-align: center;
                margin-left: 3%;
                margin-right: 3%;  
                margin-top: 3px;
                padding: 0 10px;
                height: 25px;
                line-height: 25px;
                font-size: 14px;
                color:#333;

            } 
            .inaline{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            } 
            .price{
                color:#f33;
                margin-top:2px;
                text-align: center;
                font-size: 14px;
                height: 20px;
            }        
        }
        .halvingLine{
            float: left;
            width: 100%;
            height: 30px;
            color:#ccc;
            font-size: 14px;
            text-align: center;
            line-height: 30px;
        }
    }
}
