
.Content_title{
	width: 100%;
	height: 40px;
	padding: 0 0 10px 20px;
	border-bottom: solid 1px #ccc;
}
.form-inline{
	padding:20px 20px 10px 20px;
}
.goodsType{
	padding:0 20px;
	h4{
		font-size: 13px;
		font-weight: 700;
		button{
			margin-left: 10px;
		}
	}
}
.goodsTable{
		overflow: auto;

	.table{
		// white-space:nowrap;
		overflow: auto;
		// 
		text-align: center;
		table-layout:fixed;    

		th{
			text-align: center;
			word-break:keep-all;
			vertical-align: middle;

		}
		td{
// word-break:keep-all;
			vertical-align: middle;
			line-height: 100%;
			.deleateBtn{
				margin-left: 10px;
			}
		}
	}
}

.changeWindow{
	background-color:#fff;
	border:3px solid #19a085;
	border-radius:10px;
	width: 1180px;
	height: 600px;
	position: fixed;
	padding:20px 20px;
	left: 50px;
	top: 42px;
	overflow: auto;


}