@import '../../../assets/common/common.scss';
@import '../../../assets/common/global.scss';

.shoppingCart_Header{
	width:100%;
	height:42px;
	overflow:hidden;
	position:relative;
	background:#fff;
	border-bottom:1px solid #ccc;
	.shoppingCart_HeaderToBack{
		width:45px;
		height:42px;
		position:absolute;
		top:0;
		left:0;
		text-align:center;
		line-height:42px;
		.icon-danzuokuohao{
			font-size: 28px;
			font-weight: bold;
		}
	}
	.shoppingCart_Header_title{
		font-size:16px;
		line-height: 42px;
		color:#000;
		text-align:center;
	}
	.BackToHome{
		width:45px;
		height:42px;
		position:absolute;
		right:0;
		top:0;
		text-align:center;
		line-height:42px;
		.icon-fenlei{
			font-size:24px;
			font-weight: bold;
		}
		
	}
}