.biyao_foot{
	display: flex;
	border-top:1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(7,0,2,.2);
	width: 100%;
	margin:0 auto ;
	background: #fff;
	border-bottom: solid 1px #ebebeb;
	bottom: 0;
	font-size: 14px;
	left: 0;
	.footCss{
		flex:1;
		color:#666;
		text-align: center;
		i{
			font-size: 20px;
			color:#747474;
		}
		>div{
			padding-top: 2px;
			font-size: 12px;
			padding-bottom: 4px;
		}
		
	}
}
