@import '../../assets/common/common.scss';
.biyao_foot{
	display: flex;
	height: 1.3125rem;
	border-top:1px solid #ebebeb;
	overflow: hidden;
	width: 100%;
	margin:0 auto ;
	background: #fff;
	// border-bottom: solid 1px #ebebeb;
	.footCss{
		flex:1;
		color:#666;
		text-align:center;
		i{
			font-size: 18px;
			color:#747474;
			font-weight: bold;
		}
		>div{
			font-size: 12px;
		}
		
	}
}